/*-------------------------------------------- Estilos generales de la página --------------------------------------------*/
.explorar-page {
  background: url("../assets/images/background.png") no-repeat center center fixed;
  background-size: cover;  /* Asegura que la imagen de fondo cubra toda la pantalla */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}
#title {
  font-size: 36px;
  margin-top: 30px;
  color: #ffffff;
  justify-self: center;
}

.explorar-content{
  margin-top: 75px;
  background-color: rgba(75, 107, 177, 0.226);
  border-radius: 20px;
}

/*-------------------------------------------- Filtros: Sección de filtros por género y plataforma --------------------------------------------*/
.filters{
  justify-items: center;
}
.filter-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;  
  margin-bottom: 20px;
  color: #ffffff;
}

.filter-label {
  font-weight: bold;
  margin-right: 10px;
  margin-left: 10px;  
}

select {
  padding: 5px;
  font-size: 14px;
  border-radius: 4px;
  border: 1px solid #ccc;
  margin-right: 15px; 
}

.filters .btn-group{
 margin-top: 20px;
 margin-bottom: 0px; 
}
/*-------------------------------------------- Búsqueda: Estilo del campo de búsqueda --------------------------------------------*/
.search-container {
  align-items: center;
  margin-bottom: 20px;
  color: #ffffff;
  font-weight: bold;
}


/*-------------------------------------------- Juegos: Contenedor de los juegos y su estilo --------------------------------------------*/
.game-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 10px;
  justify-content: center;
  overflow: hidden;
}

.game-item {
  background-color: rgba(0, 0, 0, 0.4);  
  border-radius: 15px;
  overflow: hidden;
  width: 180px;
  text-align: center;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);  
  transition: transform 0.3s ease-in-out;  
}

.game-item:hover {
  transform: scale(1.05);  
}

.game-item img {
  width: 100%;
  height: 150px;  
  object-fit: cover;  
}

.game-item h3 {
  font-size: 18px;
  margin: 10px 0;
  color: #ffffff;
}

.game-item p {
  font-size: 14px;
  color: #f9f9f9;
}

/*-------------------------------------------- Mensajes de carga y fin de juegos --------------------------------------------*/
.loading-message,
.no-more-games {
  font-size: 18px;
  color: #ffffff;
  text-align: center;
  margin-top: 20px;
}

.no-more-games {
  font-weight: bold;
}

/*-------------------------------------------- Estilo del botón para añadir a la colección --------------------------------------------*/
.bmain {
  color: white;
  background-color: #1b4068;
  border: none;
  border-radius: 10px;
  padding: 5px 5px;
}

/* -------------------------------------------- Media queries: Ajustes para pantallas pequeñas -------------------------------------------- */
@media (max-width: 768px) {
  .filter-container {
    margin-left: 10px;  
  }
  .game-item {
    width: 160px;  
  }
}

/* Ocultar barras de desplazamiento */
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #1b4068;
  border-radius: 10px;
}


/*-------------------------------------------- Recomendaciones --------------------------------------------*/

#recomendaciones {
  background-color: rgba(75, 107, 177, 0.226);
  border-radius: 20px;
}