
.informacion-usuario-page {
    background: url("../assets/images/background.png");
    background-size: cover;
    font-family: 'Arial', sans-serif;
    width: 100%;
    height: 100vh;
    justify-self: center;
    margin-top: 65px;
    padding: 30px;
    border-radius: 8px;
    background-color: #ffffff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
    color: #ffffff;
  }
  

  .informacion-usuario-page h2 {
    
    font-size: 28px;
    color: #ffffff;
    margin-bottom: 20px;
    font-weight: bold;
  }
  
  .informacion-usuario-page p {
    font-size: 18px;
    margin: 15px 0;
    line-height: 1.6;
  }
  

  .informacion-usuario-page p strong {
    font-weight: bold;
    color: #686868;
  }
  
 
  .informacion-usuario-page p em {
    font-style: italic;
    color: #888;
  }
  

  .informacion-usuario-page p.cargando {
    font-size: 18px;
    color: #888;
    font-style: italic;
    text-align: center;
    margin-top: 20px;
  }

.informacion-usuario-page .generos-favoritos {
  margin-top: 20px;
}

.informacion-usuario-page .coleccion-juegos {
  margin-top: 20px;
  max-height: 400px;
  overflow-y: auto;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 8px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.informacion-usuario-page .coleccion-juegos .coleccion-titulo {
  width: 100%;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.informacion-usuario-page .coleccion-juegos ul {
  list-style-type: none;
  padding: 0;
}

.informacion-usuario-page .coleccion-juegos li {
  margin: 5px 0;
}

.informacion-usuario-page .coleccion-juegos .juego {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  text-align: center;
  flex: 1 1 200px;
}

.informacion-usuario-page .coleccion-juegos .juego img {
  max-width: 100%;
  border-radius: 4px;
}

.informacion-usuario-page .coleccion-juegos .juego h4 {
  margin: 10px 0 5px;
  font-size: 16px;
  color: #333;
}

.informacion-usuario-page .coleccion-juegos .juego p {
  font-size: 14px;
  color: #666;
}

.informacion-usuario-page .juegos-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

