/*-------------------------------------------- Navbar fija en la parte superior --------------------------------------------*/
.navbar {
  background-color: #0e1622;
}

/*-------------------------------------------- Personalización del logo --------------------------------------------*/
.navbar-logo {
  width: 40px;
  margin-right: 10px;
}

/*-------------------------------------------- Personalización de los enlaces de navegación --------------------------------------------*/
.navbar-nav .nav-link {
  color: #ffffff !important;
  font-weight: bold;
  transition: color 0.3s ease;
}

/*-------------------------------------------- Cambiar color de enlace cuando se pasa el mouse --------------------------------------------*/
.navbar-nav .nav-link:hover {
  color: #007bff !important;
}

/*-------------------------------------------- Ajuste de la altura de la navbar --------------------------------------------*/
.navbar-expand-lg {
  padding: 0.5rem 1rem;
}

/*-------------------------------------------- Fondo oscuro para el botón de "Cerrar sesión" --------------------------------------------*/
.navbar .btn-link {
  color: #dc3545;
}

/*-------------------------------------------- Estilo personalizado para el botón "Registrarse" en el Navbar --------------------------------------------*/
.session-btn-navbar {
  background-color: white !important;
  color: black;
  border: 2px solid black;
  border-radius: 10px;
  padding: 8px 15px;
  transition: background-color 0.3s ease;
  width: 130px;
  text-align: center;
}

/*-------------------------------------------- Cambiar color de fondo cuando el mouse pasa por encima --------------------------------------------*/
.session-btn-navbar:hover {
  background-color: #d4d4d4 !important;
  color: #000;
}

/*-------------------------------------------- Asegurarse de que el texto en el navbar sea legible --------------------------------------------*/
.navbar-nav .nav-link.session-btn-navbar {
  color: black !important;
}
